# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\InputFile\GitBase\Simblock@Bernard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
